extends layout

block extra_links
    link(rel='stylesheet', href='/css/medium-editor/medium-editor.css')
    link(rel='stylesheet', href='/css/medium-editor/flat.css')
    link(rel='stylesheet', href='/css/admin/editor.css')

block content
    .container.z-depth-1(style='margin-top:30px;padding:20px;')
        .row
            .input-field.col.s12
                input#title(type='text')
                label(for='title') 标题
        .row
            .col.s12.l12.input-field
                input#address(type='text')
                label(for='address') 地址
            .col.s12.l2.input-field
                label(for='time') 时间
                input#time.datepicker(type='date')
            .col.s12.l2.input-field
                select#frequency
                    option(value='one-time') 仅一次
                    option(value='weekly') 每周重复
                    option(value='biweekly') 双周重复
                label 频率
            .col.s12.l2.input-field
                select#memberLimit
                    option(value='') 不限制
                    option(value='4') 4
                    option(value='6') 6
                    option(value='8') 8
                    option(value='16') 16
                    option(value='24') 24
                    option(value='30') 30
                label 人数限制
        #editor
        button#create.waves-effect.waves-light.btn 创建活动

block extra_scripts
    script(src='/javascripts/medium-editor.js')
    script(src='/javascripts/module/editor/editor.js')