extends layout

block content
  .row.seg
    .col.s6.center-align
      img(src="/images/benefit-realtime.png")
    .col.s6.valign-wrapper
      div
        h2 找到适合你的活动
        a.waves-effect.waves-light.btn-large(href="/checker-list") Checkers!

  .row.seg
    .col.s6.valign-wrapper
      .right-align
        h2 轻松报名，到时提醒
        a.waves-effect.waves-light.btn-large 了解更多!
    .col.s6.center-align
      img(src="/images/alarm.png")
