extends layout

block content
    .container
        div(style='margin-top:100px')
            h4.teal-text.text-darken-3 创建一个用户吧！
            div
                .row
                    .input-field.col.s12.l6
                        input#username.validate(type='text')
                        label(for='username') 用户名
                .row
                    .input-field.col.s12.l6
                        input#m_phone.validate(type='text' maxlength='11')
                        label(for='m_phone') 手机号码
                .row
                    .input-field.col.s12.l6
                        input#password.validate(type='password' maxlength='16')
                        label(for='password') 密码(6~16位)
                .row
                    button#register_btn.waves-effect.waves-light.btn 注册


block extra_scripts
    script(src='/javascripts/jquery.md5.js')
    script(src='/javascripts/module/user/register.js')